.head {
    width: 100%;
    height: 66px;
}
.logo {
    width: 30%;
    height: 66px;
    background: lemonchiffon;
    float: left;
}
.banner {
    width: 70%;
    height: 66px;
    background: lightblue;
    float: left;
}
.nav {
    margin-top: 5px;
    clear: both;
    width: 100%;
    height: 30px;
    background: lightcoral;
}
.content {
    margin-top: 5px;
    width: 100%;
    height: 700px;
    background: rgb(157, 214, 211);
}
.left {
    width: 15%;
    height: 700px;
    background: rgb(58, 170, 92);
    float: left;
}
.left-top {
    width: 100%;
    height: 200px;
    background: rgb(76, 147, 214);
    float: left;
}
.left-bot {
    width: 100%;
    height: 400px;
    background: rgb(170, 58, 86);
    float: left;
}
.mid {
    width: 65%;
    height: 700px;
    background: rgb(61, 59, 43);
    float: left;
}
.right {
    width: 20%;
    height: 700px;
    background: rgb(255, 205, 253);
    float: left;
}